<form ng-submit="controller.save()">
    <div>
        <label>Item Name</label>
        <input ng-model="controller.addPost.name" />
    </div>
    <div>
        <label>Image</label>
        <input ng-model="controller.addPost.image" />
    </div>
    <div>
        <label>Description</label>
        <input ng-model="controller.addPost.description" />
    </div>
    <div>
        <label>Bid Amount</label>
        <input ng-model="controller.addPost.bidamount" />
    </div>

    <input type="submit" value="Post" />


</form>

