<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                        <div ng-repeat="product in vm.news " ng-if="$index % 4 == 0" class="col-sm-4 thumbnail" id="category-description"  >


                           <a href="/Details/{{product.ID}}"> <img ng-src="{{product.Image}}"
                                 style="width: 200px; height: 200px" /><br />
                            <h4 id="title">{{product.Title}}</h4><br />

                            <h5 id="author">By {{product.Author}}</h5></a>
                            <p id="desc">{{product.Descrption}}</p>
                            <em><strong>{{product.Category}}</strong></em>
                        </div>
        </div>
    </div>
</div>


