
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Products/Create">    <div>        <label>Product Name:            <input name="Name" />        </label>    </div>    <div>        <label>            Product Price:            <input name="Price" />        </label>    </div>    <input type="submit" value="Submit" /></form>