<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 thumbnail">
            <a href="/SingleCategory/1">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://img.bleacherreport.net/img/images/photos/003/536/314/hi-res-e091062639afa56c0364e1e374bfd9be_crop_north.jpg?w=1260&h=840&q=100" class="img-rounded size" />

                    <h3>Sports</h3>
                </div>
            </a>
            <a href="/SingleCategory/2">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://cdn.flipboard.com/wordpress.com/16d8589daa4e82181d131ac2d8e8250a950ca40f/original.jpg" class="img-rounded size" />
                    <h3>Technology</h3>
                </div>
            </a>
            <a href="/SingleCategory/3">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview " src="http://i2.cdn.turner.com/money/dam/assets/150707110801-hershey-secret-lab-1280x720.png" class="img-rounded size" />
                    <h3>Business</h3>
                </div>
            </a>
            <a href="/SingleCategory/4">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/4181820/IMG_3993.0.JPG" class="img-rounded size" />
                    <h3>Food</h3>
                </div>
                </a>
            <a href="/SingleCategory/5">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://static2.politico.com/dims4/default/45cd966/2147483647/resize/1160x%3E/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fb2%2F8c%2Fa7fb28d84930ac7ee621e0aa4305%2Fobama-gty-629.jpg" class="img-rounded size" />
                    <h3>Politics</h3>
                </div>
                </a>
            <a href="/SingleCategory/6">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/1920x1081+0+175/resize/800x450!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fac82a985eaf5e14e9f3916506f19d0af%2F202834763%2F01-tesla-model-s-p85d-detroit-1.jpg" class="img-rounded size" />
                    <h3>Auto</h3>
                </div>
                </a>
            <a href="/SingleCategory/7">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://i.ytimg.com/vi/SLtp5Y8Tn0k/hqdefault.jpg" class="img-rounded size" />
                    <h3>Photography</h3>
                </div>
                </a>
            <a href="/SingleCategory/8">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://assets.coolhunting.com/coolhunting/2015/10/21/full_width_den-sorte-skole-indians-cowboys-hero_new.jpg" class="img-rounded size" />
                    <h3>Design</h3>
                </div>
                </a>
            <a href="/SingleCategory/9">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://cdn3.vox-cdn.com/thumbor/F8hjuE-eWOY2DuFx3tMlAgc8W28=/0x0:931x698/400x300/cdn0.vox-cdn.com/uploads/chorus_image/image/47481475/zendaya-modeliste-magazine.0.0.png" class="img-rounded size" />
                    <h3>Style</h3>
                </div>
                </a>
            <a href="/SingleCategory/10">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://skift.com/wp-content/uploads/2014/08/cD03MGVkNTVmYWU4MzZjZjg0MjhjOWE0ODNhYzY3MmU4NSZnPTAzYjRhMmM3NDM2ZmFiNzg4YjQ3NmZjZGQ1ZDQ3M2Fl-1280x825.jpeg" class="img-rounded size" />
                    <h3>Travel</h3>
                </div>
                </a>
            <a href="/SingleCategory/11">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/2512x1332+0+47/resize/660x350!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/8f579b725c912908e2a4129cbb83dee8/202838898/toy+story+that+time+forgot.jpg" class="img-rounded size" />
                    <h3>Film</h3>
                </div>
                </a>
            <a href="/SingleCategory/12">
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://static5.gamespot.com/uploads/original/1365/13658182/2791342-grimfandango_remastered_screenshot_2.jpg" class="img-rounded size" />
                    <h3>Gaming</h3>
                </div>
               </a>
</div>


        <div class="col-md-3"></div>
    </div>
</div>

