<div class="modal-header">
    <h3 class="modal-title">{{modal.articleToView.title}}</h3>
</div>
<div class="modal-body">
    <h5><img ng-src="{{modal.articleToView.image}}"
     style="width:600px; height: 300px" /></h5>
    <h5>By {{modal.articleToView.author}}</h5>
    <p id="pmodel">{{modal.articleToView.fullArticle}}</p>
    <h2>Comments</h2>
    <form ng-submit="modal.newComment()">
    <textarea maxlength="500" class="form-control" style="width:2000px"  ng-model="modal.comment.commentText" />
    <button type="submit" class="button btn-success" style="width:150px; font-weight:300">Post Comment</button></form>
    <div ng-repeat="comment in modal.articleToView.comments"><b>{{comment.user.fullName}}</b>: {{comment.commentText}}
    <br />
    {{comment.commentedOn | date: 'yyyy-MM-dd hh:mm' }}
        <hr />
    </div>
    

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modal.ok()">Close</button>
    </div>






