<div class="modal-header">
    <h3 class="modal-title">{{modal.articleToView.title}}</h3>
</div>
<div class="modal-body">
    <h5><img ng-src="{{modal.articleToView.image}}"
     style="width:600px; height: 300px" /></h5>
    <h5>By {{modal.articleToView.author}}</h5>
    <p>{{modal.articleToView.fullArticle}}</p>

    <hr />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modal.ok()">Close</button>
    </div>






<!--<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            
                <h3>{{vm.article.title}}</h3>
                <img ng-src="{{vm.article.image}}"
                     style="width:600px; height: 300px" />
                <h5>By {{vm.article.author}}</h5>
                <p>{{vm.article.fullArticle}}</p>

                <hr />
            
        </div>
        <div class="col-md-4">
           
        </div>    </div>
</div>-->

