

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 thumbnail" >
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://img.bleacherreport.net/img/images/photos/003/536/314/hi-res-e091062639afa56c0364e1e374bfd9be_crop_north.jpg?w=1260&h=840&q=100" class="img-rounded size" />
                    <h3>Sports</h3>
                </div>
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://cdn.flipboard.com/wordpress.com/16d8589daa4e82181d131ac2d8e8250a950ca40f/original.jpg" class="img-rounded size" />
                    <h3>Technology</h3>
                </div>
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview " src="http://i2.cdn.turner.com/money/dam/assets/150707110801-hershey-secret-lab-1280x720.png" class="img-rounded size" />
                    <h3>Business</h3>
                </div>
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/4181820/IMG_3993.0.JPG" class="img-rounded size" />
                    <h3>Food</h3>
                </div>
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://static2.politico.com/dims4/default/45cd966/2147483647/resize/1160x%3E/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fb2%2F8c%2Fa7fb28d84930ac7ee621e0aa4305%2Fobama-gty-629.jpg" class="img-rounded size" />
                    <h3>Politics</h3>
                </div>
                <div class="col-md-2 imagecss">
                    <img alt="Bootstrap Image Preview" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/1920x1081+0+175/resize/800x450!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fac82a985eaf5e14e9f3916506f19d0af%2F202834763%2F01-tesla-model-s-p85d-detroit-1.jpg" class="img-rounded size" />
                    <h3>Auto</h3>
                </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="https://i.ytimg.com/vi/SLtp5Y8Tn0k/hqdefault.jpg" class="img-rounded size" />
                <h3>Photography</h3>
            </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="http://assets.coolhunting.com/coolhunting/2015/10/21/full_width_den-sorte-skole-indians-cowboys-hero_new.jpg" class="img-rounded size" />
                <h3>Design</h3>
            </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="https://cdn3.vox-cdn.com/thumbor/F8hjuE-eWOY2DuFx3tMlAgc8W28=/0x0:931x698/400x300/cdn0.vox-cdn.com/uploads/chorus_image/image/47481475/zendaya-modeliste-magazine.0.0.png" class="img-rounded size" />
                <h3>Style</h3>
            </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="http://skift.com/wp-content/uploads/2014/08/cD03MGVkNTVmYWU4MzZjZjg0MjhjOWE0ODNhYzY3MmU4NSZnPTAzYjRhMmM3NDM2ZmFiNzg4YjQ3NmZjZGQ1ZDQ3M2Fl-1280x825.jpeg" class="img-rounded size" />
                <h3>Travel</h3>
            </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/2512x1332+0+47/resize/660x350!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/8f579b725c912908e2a4129cbb83dee8/202838898/toy+story+that+time+forgot.jpg" class="img-rounded size" />
                <h3>Film</h3>
            </div>
            <div class="col-md-2 imagecss">
                <img alt="Bootstrap Image Preview" src="http://static5.gamespot.com/uploads/original/1365/13658182/2791342-grimfandango_remastered_screenshot_2.jpg" class="img-rounded size" />
                <h3>Gaming</h3>
            </div>
        </div>
    

    <div class="col-md-3"></div>
</div>
    </div>


<hr />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading-primary" data-ng-init="vm.news">
            <div ng-repeat="publish in vm.news" class="block grid-parent col-md-4 thumbnail" ng-if="$index % 1 == 0 " id="category-description">
                <a href="/Details/{{publish.id}}">
                    <img ng-src="{{publish.image}}"
                         style="width: 300px; height: 300px" />
                    <h4 id="title">{{publish.title}}</h4><h5 id="author">By {{publish.author}}</h5>
                </a><p id="desc">{{publish.description}}</p>
                <em><strong>{{publish.category}}</strong></em>
                <hr />
            </div>
        </div>
    </div>
</div>













<!--<!--<div class="container">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <div class="container">
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
<!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>-->
<!-- Wrapper for slides -->
<!--<div class="carousel-inner" role="listbox">


    <div class="item active">

            <img src="https://cdn0.vox-cdn.com/thumbor/L1WNXv7ElYLtXS51jYADnn1jYxQ=/0x0:2000x1333/400x268/cdn0.vox-cdn.com/uploads/chorus_image/image/47352804/v-DSC00001-1.0.0.jpg" width="460" height="345">
            <img src="http://media4.s-nbcnews.com/j/newscms/2015_16/494761/breakfast-burrito-black-beans-classic-today-150415_02e27c17a8b219c3d63194a8c3b3ce47.today-inline-large.jpg" width="460" height="345">


    <div class="item ">

            <img src="http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/10/xprize_lander.jpg" width="460" height="345">
            <img src="http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/10/xprize_lander.jpg" width="460" height="345">


    <div class="item ">

            <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/10/tesla-elon-musk-entry-level-model-3-0000.jpg?w=800" width="460" height="345">
            <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/10/tesla-elon-musk-entry-level-model-3-0000.jpg?w=800" width="460" height="345">

</div>-->
<!-- Left and right controls -->
<!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>-->
<!--</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <div class="row"></div>
</div>
            </div>-->
<!--</div></div>-->
