<!DOCTYPE html>
<html ng-app="EventsApp">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="FavouriteColorController as vm">
    <button ng-click="vm.pick('red')">Red</button>
    <button ng-click="vm.pick('blue')">Blue</button>
    <button ng-click="vm.pick('green')">Green</button>
    <hr/>

    {{vm.selectedColor}}

    <hr />
    <form ng-submit="vm.submitForm()">
    <input ng-model="vm.newSandwich.eggsalad"/>
        <input type="submit" value='save'/>

       </form>

    <script src="../../Scripts/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="Controllers.js"></script>
</body>
</html>
